#onek a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/read.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/road.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/heaven.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/part.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/thing.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/axe.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/new.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/flower.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/name.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/mother.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/private.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/night.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/before.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/many.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/hold.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/write.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/sound.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/meet.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/hear.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:79px;height:17px;display:block;background: url(images/kanjiroll7/center.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}