#onek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_266.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_267.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_268.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_269.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_270.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_271.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_272.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_273.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_274.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_275.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_276.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_277.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_278.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_279.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_280.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_281.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_282.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_283.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_284.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_285.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}
#twentyonek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_286.jpg) top left no-repeat;background-position:0 0px;}
#twentyonek a:hover {background-position:0 -17px;}
#twentytwok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_287.jpg) top left no-repeat;background-position:0 0px;}
#twentytwok a:hover {background-position:0 -17px;}
#twentythreek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_288.jpg) top left no-repeat;background-position:0 0px;}
#twentythreek a:hover {background-position:0 -17px;}
#twentyfourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_289.jpg) top left no-repeat;background-position:0 0px;}
#twentyfourk a:hover {background-position:0 -17px;}
#twentyfivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_290.jpg) top left no-repeat;background-position:0 0px;}
#twentyfivek a:hover {background-position:0 -17px;}