#onek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_131.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_132.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_133.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_134.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_135.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_136.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_137.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_138.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_139.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_140.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_141.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_142.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_143.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_144.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_145.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_146.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_147.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_148.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_149.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_150.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}
#twentyonek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_151.jpg) top left no-repeat;background-position:0 0px;}
#twentyonek a:hover {background-position:0 -17px;}
#twentytwok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_152.jpg) top left no-repeat;background-position:0 0px;}
#twentytwok a:hover {background-position:0 -17px;}
#twentythreek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_153.jpg) top left no-repeat;background-position:0 0px;}
#twentythreek a:hover {background-position:0 -17px;}
#twentyfourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_154.jpg) top left no-repeat;background-position:0 0px;}
#twentyfourk a:hover {background-position:0 -17px;}
#twentyfivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_155.jpg) top left no-repeat;background-position:0 0px;}
#twentyfivek a:hover {background-position:0 -17px;}
#twentysixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_156.jpg) top left no-repeat;background-position:0 0px;}
#twentysixk a:hover {background-position:0 -17px;}
#twentysevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_157.jpg) top left no-repeat;background-position:0 0px;}
#twentysevenk a:hover {background-position:0 -17px;}
#twentyeightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_158.jpg) top left no-repeat;background-position:0 0px;}
#twentyeightk a:hover {background-position:0 -17px;}
#twentyninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_159.jpg) top left no-repeat;background-position:0 0px;}
#twentyninek a:hover {background-position:0 -17px;}
#thirtyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_160.jpg) top left no-repeat;background-position:0 0px;}
#thirtyk a:hover {background-position:0 -17px;}