#onek a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/mountain.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/person.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/one.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/two.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/three.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/sun.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/white.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/mouth.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/rotate.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/four.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/moon.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/bright.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/tree.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/five.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/eye.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/woman.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/large.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/middle.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/eight.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/small.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}