#onek a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/beautiful.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/bird.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/tiny.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/temple.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/precede.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/open.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/literature.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/evening.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/outside.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/tongue.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/diagram.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/stand.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/parent.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/star.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/autumn.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/west.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/sword.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/cut.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/dayoftheweek.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:112px;height:17px;display:block;background: url(images/kanjiroll6/around.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}