#onek a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/shellfish.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/six.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/king.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/jewel.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/heart.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/country.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/complete.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/ten.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/early.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/upper.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/lower.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/rice.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/self.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/inside.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/right.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/have.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/meat.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/half.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll2/nine.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/spring.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}