#onek a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/near.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/lose.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/bow.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/horse.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/week.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/pull.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/second.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/shell.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/spirit.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/time.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/speak.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/english.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/instruction.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/push.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/year.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/come.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/study.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/mind.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/again.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:95px;height:17px;display:block;background: url(images/kanjiroll8/red.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}