#onek a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/capital.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/see.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/stop.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/seven.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/few.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/south.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/craft.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/left.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/tall.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/buy.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/hundred.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:79px;height:17px;display:block;background: url(images/kanjiroll1/circle.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/basis.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/neck.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/walk.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/child.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/like.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/old.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/fire.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:79px;height:17px;display:block;background: url(images/kanjiroll3/winter.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}