#onek a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/dry.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/gold.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/words.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/gentleman.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/morning.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/blue.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/earth.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/hang.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/tenthousand.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/rain.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/electric.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/sell.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/individual.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/enter.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/snow.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/gate.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/interval.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/exit.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/life.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:95px;height:17px;display:block;background: url(images/kanjiroll5/cow.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}