#onek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_51.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_52.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_53.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_54.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_55.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_56.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_57.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_58.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_59.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_60.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_61.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_62.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_63.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_64.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_65.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_66.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_67.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_68.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_69.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_70.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}
#twentyonek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_71.jpg) top left no-repeat;background-position:0 0px;}
#twentyonek a:hover {background-position:0 -17px;}
#twentytwok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_72.jpg) top left no-repeat;background-position:0 0px;}
#twentytwok a:hover {background-position:0 -17px;}
#twentythreek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_73.jpg) top left no-repeat;background-position:0 0px;}
#twentythreek a:hover {background-position:0 -17px;}
#twentyfourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_74.jpg) top left no-repeat;background-position:0 0px;}
#twentyfourk a:hover {background-position:0 -17px;}
#twentyfivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_75.jpg) top left no-repeat;background-position:0 0px;}
#twentyfivek a:hover {background-position:0 -17px;}
#twentysixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_76.jpg) top left no-repeat;background-position:0 0px;}
#twentysixk a:hover {background-position:0 -17px;}
#twentysevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_77.jpg) top left no-repeat;background-position:0 0px;}
#twentysevenk a:hover {background-position:0 -17px;}
#twentyeightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_78.jpg) top left no-repeat;background-position:0 0px;}
#twentyeightk a:hover {background-position:0 -17px;}
#twentyninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_79.jpg) top left no-repeat;background-position:0 0px;}
#twentyninek a:hover {background-position:0 -17px;}
#thirtyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_80.jpg) top left no-repeat;background-position:0 0px;}
#thirtyk a:hover {background-position:0 -17px;}