#onek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_186.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_187.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_188.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_189.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_190.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_191.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_192.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_193.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_194.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_195.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_196.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_197.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_198.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_199.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_200.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_201.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_202.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_203.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_204.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_205.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}
#twentyonek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_206.jpg) top left no-repeat;background-position:0 0px;}
#twentyonek a:hover {background-position:0 -17px;}
#twentytwok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_207.jpg) top left no-repeat;background-position:0 0px;}
#twentytwok a:hover {background-position:0 -17px;}
#twentythreek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_208.jpg) top left no-repeat;background-position:0 0px;}
#twentythreek a:hover {background-position:0 -17px;}
#twentyfourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_209.jpg) top left no-repeat;background-position:0 0px;}
#twentyfourk a:hover {background-position:0 -17px;}
#twentyfivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_210.jpg) top left no-repeat;background-position:0 0px;}
#twentyfivek a:hover {background-position:0 -17px;}