#onek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_291.jpg) top left no-repeat;background-position:0 0px;}
#onek a:hover {background-position:0 -17px;}
#twok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_292.jpg) top left no-repeat;background-position:0 0px;}
#twok a:hover {background-position:0 -17px;}
#threek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_293.jpg) top left no-repeat;background-position:0 0px;}
#threek a:hover {background-position:0 -17px;}
#fourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_294.jpg) top left no-repeat;background-position:0 0px;}
#fourk a:hover {background-position:0 -17px;}
#fivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_295.jpg) top left no-repeat;background-position:0 0px;}
#fivek a:hover {background-position:0 -17px;}
#sixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_296.jpg) top left no-repeat;background-position:0 0px;}
#sixk a:hover {background-position:0 -17px;}
#sevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_297.jpg) top left no-repeat;background-position:0 0px;}
#sevenk a:hover {background-position:0 -17px;}
#eightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_298.jpg) top left no-repeat;background-position:0 0px;}
#eightk a:hover {background-position:0 -17px;}
#ninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_299.jpg) top left no-repeat;background-position:0 0px;}
#ninek a:hover {background-position:0 -17px;}
#tenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_300.jpg) top left no-repeat;background-position:0 0px;}
#tenk a:hover {background-position:0 -17px;}
#elevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_301.jpg) top left no-repeat;background-position:0 0px;}
#elevenk a:hover {background-position:0 -17px;}
#twelvek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_302.jpg) top left no-repeat;background-position:0 0px;}
#twelvek a:hover {background-position:0 -17px;}
#thirdteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_303.jpg) top left no-repeat;background-position:0 0px;}
#thirdteenk a:hover {background-position:0 -17px;}
#fourteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_304.jpg) top left no-repeat;background-position:0 0px;}
#fourteenk a:hover {background-position:0 -17px;}
#fifthteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_305.jpg) top left no-repeat;background-position:0 0px;}
#fifthteenk a:hover {background-position:0 -17px;}
#sixteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_306.jpg) top left no-repeat;background-position:0 0px;}
#sixteenk a:hover {background-position:0 -17px;}
#seventeenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_307.jpg) top left no-repeat;background-position:0 0px;}
#seventeenk a:hover {background-position:0 -17px;}
#eightteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_308.jpg) top left no-repeat;background-position:0 0px;}
#eightteenk a:hover {background-position:0 -17px;}
#nineteenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_309.jpg) top left no-repeat;background-position:0 0px;}
#nineteenk a:hover {background-position:0 -17px;}
#twentyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_310.jpg) top left no-repeat;background-position:0 0px;}
#twentyk a:hover {background-position:0 -17px;}
#twentyonek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_311.jpg) top left no-repeat;background-position:0 0px;}
#twentyonek a:hover {background-position:0 -17px;}
#twentytwok a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_312.jpg) top left no-repeat;background-position:0 0px;}
#twentytwok a:hover {background-position:0 -17px;}
#twentythreek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_313.jpg) top left no-repeat;background-position:0 0px;}
#twentythreek a:hover {background-position:0 -17px;}
#twentyfourk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_314.jpg) top left no-repeat;background-position:0 0px;}
#twentyfourk a:hover {background-position:0 -17px;}
#twentyfivek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_315.jpg) top left no-repeat;background-position:0 0px;}
#twentyfivek a:hover {background-position:0 -17px;}
#twentysixk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_316.jpg) top left no-repeat;background-position:0 0px;}
#twentysixk a:hover {background-position:0 -17px;}
#twentysevenk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_317.jpg) top left no-repeat;background-position:0 0px;}
#twentysevenk a:hover {background-position:0 -17px;}
#twentyeightk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_318.jpg) top left no-repeat;background-position:0 0px;}
#twentyeightk a:hover {background-position:0 -17px;}
#twentyninek a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_319.jpg) top left no-repeat;background-position:0 0px;}
#twentyninek a:hover {background-position:0 -17px;}
#thirtyk a {width:126px;height:17px;display:block;background: url(images/kanjiroll/0_320.jpg) top left no-repeat;background-position:0 0px;}
#thirtyk a:hover {background-position:0 -17px;}